---

- name: See if Default MariaDB Exists
  command: rpm -q MariaDB
  register: old_mariadb_installed
  failed_when: old_mariadb_installed.rc > 1

- name: Stop MariaDB if Installed
  systemd:
   name="mariadb"
   state="stopped"
  when: old_mariadb_installed.rc == 0

- name: Remove Existing MariaDB Install
  yum:
   name="{{ item }}"
   state="absent"
  with_items:
   - "MariaDB"
   - "MariaDB-server"
   - "mysql-libs"

- name: Allow MariaDB Port(s) In SELinux
  seboolean:
    name="mysql_connect_any"
    state="true"
    persistent="yes"
  ignore_errors: true

- name: Explicitly Allow mysql_extra_port
  seport:
    ports="{{ mysql_extra_port }}"
    proto="tcp"
    setype="mysqld_port_t"
    state="present"
  ignore_errors: true

- name: Flush Yum Cache
  command: yum clean all

- name: Add MariaDB Repo
  template:
    src="mariadb_centos.repo.j2"
    dest="/etc/yum.repos.d/mariadb.repo"
    owner="root"
    group="root"
    mode=0644

- name: Install MariaDB
  yum:
    name="{{ item }}"
    enablerepo="mariadb"
    state="latest"
  with_items:
    - "MariaDB-server"
    - "MariaDB-client"
    - "mysql-libs"

- name: Creates PID Directory
  file:
    path="{{ mysql_pid_file | dirname }}"
    state="directory"
    owner="mysql"
    group="mysql"
    mode=0755

- name: Check for existence of {{ mysql_log_error }}
  stat:
    path="{{ mysql_log_error }}"
  register: stat_error_log

- name: Creates MySQL Error Log File
  file:
    path="{{ mysql_log_error }}"
    state="touch"
    owner="mysql"
    group="mysql"
    mode=0640
  when: not stat_error_log.stat.exists

- name: Set Configuration File
  template:
    src="my.cnf.j2"
    dest="/etc/my.cnf.d/server.cnf"
    owner="root"
    group="root"
    mode=0644
#  notify: restart mariadb

- name: Enable MariaDB
  systemd:
    name="mariadb"
    state="started"
    enabled="yes"
    masked="no"

- name: Verify no password localhost login works
  command: mysql -u root -e ";"
  register: mysql_localhost
  failed_when: mysql_localhost.rc > 1

- name: Patch authentication for interworx
  command: mysql -u root -e "ALTER USER root@localhost IDENTIFIED VIA mysql_native_password USING PASSWORD('');"
  when: mysql_localhost.rc == 0

- name: See if login is available for 127.0.0.1
  command: mysql -u root -h 127.0.0.1 -e ";"
  register: mysql_loopback
  failed_when: mysql_loopback.rc > 1

- name: Create root user for 127.0.0.1
  command: mysql -u root -e "GRANT ALL PRIVILEGES ON *.* TO root@127.0.0.1 IDENTIFIED VIA mysql_native_password USING PASSWORD('') WITH GRANT OPTION;"
  when: mysql_loopback.rc == 1

- name: MySQL Upgrade
  shell: mysql_upgrade
  async: 45
  poll: 10
  when: mysql_upgrade
